h1 {
    color: black; background: darkgray;
}
h2 {
    color: black; background-color: silver;
}
h3 {
    color: black; background: silver;
}
p {
    color: black
}
body {
    background: gainsboro;
}
li {
    background-color: lightgray;
}
ol {
    color: black; background-color: lightgray;
}